h1{
    color: firebrick;
    font-size: 2rem;
    font-weight: 700px;
    text-align: center;
    border: solid black;
    border-radius: 15px;
    background-color: gray;
    margin-left: 300px;
    margin-right: 300px;
}
.bio{
    color: maroon;
    font-size: 1rem;
    text-align: justify;
    border: solid black;
    border-radius: 15px;
    background-color: gray;
    margin-left: 20px;
    margin-right: 20px;
    padding: 13px;
}
.ebio{
    color: maroon;
    font-size: 1rem;
    text-align: justify;
    border: solid black;
    border-radius: 15px;
    background-color: burlywood;
    margin-left: 20px;
    margin-right: 20px;
    padding: 13px;
}
}